$azure: #50eba8;
$navbar-item-hover-color: $azure;

.html {
  background-color: azure;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-logo {
  margin-top: 1em;
}

.header {
  color: #50eba8;
  font-size: 6em;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.2em;
}

.navbar {
  border-radius: 1em;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
}

.navbar-item:hover {
  color: #50eba8;
}



.image-container {
  text-align: center;
  padding: 10px 20px;
}

.home-image {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-image1 {
  border-radius: 50%;
  padding: 2em;
}

.card1 {
  margin-top: 1em;
}

.test:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.test {
  border-radius: 1em;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  .title {
    color: #50eba8;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
  }
}

.cards {
  margin-top: 2em;
}

.Services {
  .Services-header {
    margin-top: 0.5em;
    font-size: 2em;
  }
  .title {
    text-align: center;
    color: #50eba8;
    font-size: 4em;
    font-family: 'Pacifico', cursive;
  }
  .card {
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
  }
}
@import "~bulma";
